.movie {
  text-align: center;
  height: 400px;
  padding-top: 20px;
}

.movieTitle {
  font-size: 15px;
}

.poster {
  border-radius: 10px;
}

.poster:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25),
    0 10px 10px rgba(255, 255, 255, 0.22);
}
