@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
.movie {
  text-align: center;

  height: 400px;
  padding-top: 20px;
}

.movieTitle {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
}
