.nav-lists{
    display: flex;
}

.netflix{
    width: 200px;
    height: 100px;
}

.netflix::before{
    background-image: url("../img/netflix.png") ;
    content:" ";
    background-size: 100px;

   
}