@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Orbitron&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  background-image: url("../img/cool-background.png");
  color: white;
  position: relative;
  overflow-x: hidden;
}
#root {
  width: 100%;
}

.layout {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-top: 100px;
}

.movies {
  width: 70%;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}
