@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Orbitron&display=swap");
@import "./nav.css";
body {
  font-family: "Noto Sans KR", sans-serif;
  background-image: url("../img/cool-background.png");
  color: white;
}
#root {
  width: 100%;
}

.layout {
  margin: 0 auto;
  width: 70%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  font-size: 20px;
}

ul {
  list-style: none;
}
