@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Orbitron&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  background-image: url("../img/cool-background.png");
  color: white;
}

.layout {
  margin: 0 auto;
  width: 70%;
}

a {
  color: white;
  text-decoration: none;
}
